<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Default Title{% endblock %}</title>
  </head>
  <body>
    <ul>
        {% for m in main_menu %}
        <li{% if forloop.last %} class="last"{% endif %}>
            <a href="{% url m.url_name %}">{{ m.name }}</a>
        </li>
        {% endfor %}
    </ul>
    <div>
      {% block content %}{% endblock %}
    </div>

    {% block menu %}
    {% for category in categories %}
        <div>
            <a href="{% url category.url_name %}">{{ category.name }}</a>
        </div>
    {% endfor %}
    {% endblock %}

  </body>
</html>

