{% extends "core/base.html" %}
{% load static %}

{% block title %}{{ category.name }}{% endblock %}

{% block content %}
  <link rel="stylesheet" href="{% static 'core/styleMenuFood.css' %}">
  <h1>{{ category.name }}</h1>
  

  {% for dish in dishes %}
    <div class="product">
      <h3>{{ dish.name }}</h3>
      <p>{{ dish.description }}</p>
      <p class="price">Ціна: {{ dish.price }} грн</p>
      <button class="buy">Купити</button>
    </div>
  {% empty %}
    <p>У цій категорії поки немає страв.</p>
  {% endfor %}
{% endblock %}